body{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#2d4f73;
font-family:Arial, Helvetica, sans-serif;
}

.container{
background:#0f9d7a;
padding:40px;
border-radius:25px;
width:340px;
box-shadow:15px 15px 0px rgba(0,0,0,0.25);
animation: aparecer 0.6s ease;
}

@keyframes aparecer{
from{
opacity:0;
transform:translateY(20px);
}
to{
opacity:1;
transform:translateY(0);
}
}

h1{
text-align:center;
color:white;
margin-bottom:25px;
}

.formulario{
display:flex;
flex-direction:column;
}

label{
color:white;
margin-top:10px;
margin-bottom:5px;
font-size:14px;
}

input{
padding:12px;
border:none;
border-radius:12px;
font-size:16px;
outline:none;
transition:0.2s;
}

input:focus{
transform:scale(1.03);
box-shadow:0 0 8px rgba(0,0,0,0.2);
}

.botones{
display:flex;
gap:10px;
margin-top:20px;
}

button{
flex:1;
padding:12px;
border:none;
border-radius:15px;
background:#0a7e63;
color:white;
font-size:16px;
cursor:pointer;
transition:0.2s;
}

button:hover{
transform:scale(1.05);
background:#086a53;
}

.limpiar{
background:#444;
}

.limpiar:hover{
background:#333;
}

.resultado{
margin-top:25px;
background:#333;
color:white;
padding:20px;
border-radius:15px;
text-align:center;
line-height:1.5;
min-height:60px;
transition:0.3s;
}